/** features/index */
// This file is meant to be compiled in development

@import "poliedro";
@import "features";

main{
	max-width:1280px;
	min-width:320px;

	margin-left:auto;
	margin-right:auto;
}


.parent{
	padding:1em;
}



// Basic Grid
$poliedro-offset-prefix: 'o';
@include poliedro-grid('.grid-a', 0, 12);


// Grid with Gutter
@include poliedro-grid('.grid-b', 3, 12);

/** Responsive Grid */

// Mobile first
@media screen{
	@include poliedro-grid('.grid-sm', 3, 12);
}

// Medium
@media screen and (min-width:768px){
	@include poliedro-grid('.grid-md', 3, 12);
}

// Wide
@media screen and (min-width:1024px){
	@include poliedro-grid('.grid-lg', 3, 12);
}


/** Nested Grid */
@include poliedro-grid('.grid-n', 2, 12);


/** Column Colors */

$color-a4: #775BA3;
$color-a6: #442D65;

$color-b2: #FBF0D9;
$color-b4: #F8E1B4;

$color-c4: #F98A5F;

$color-d4: #91C5A9;


[class^="grid-"]{
	background-color:$color-c4;
	border:1px solid $color-b4;

	color: $color-a6;

	margin-bottom:1em;
	text-align: center;

	p {
		font-weight: 700;
		font-size:1.25em;
	}

	> [class^="grid-"]{
		background-color:$color-d4;
	}
}

main > section{
	
	background-color: $color-b2;

	padding-top:1em;

	overflow:hidden;

}

