<% @title = "Centered Columns" %>


<pre>
	<code>
		@include poliedro-grid('.grid-b', 3, 12);
	</code>
</pre>

<section>
	
	<!-- 1st Row -->
	<div class="grid-b-2 grid-b-center">
		<p>2</p>
	</div>

	<!-- 2nd Row -->
	<div class="grid-b-4 grid-b-center">
		<p>4</p>
	</div>

	<!-- 3rd row -->
	<div class="grid-b-10 grid-b-center">
		<p>10</p>
	</div>

	<!-- 4th Row -->
	<div class="grid-b-4 grid-b-center">
		<p>4</p>
	</div>

	<!-- 5th Row -->
	<div class="grid-b-2 grid-b-center">
		<p>2</p>
	</div>

</section><!-- .grid-1 -->

	