<% @title = "Grid With Gutter" %>


<pre>
	<code>@include poliedro-grid('.grid-b', 3, 12);</code>
</pre>

<section>
<% (1..12).each do |col| %>
	<% complement =  12 - col %>

	<div class="grid-b-<%= col %>">
		<p>Column <%= col  %></p>
	</div>

	<% if(complement > 0) %>
	<div class="grid-b-<%= complement %> grid-b-omega">
		<p>Column <%= complement  %></p>
	</div>
	<% end %>
<% end %>
</section><!-- .grid-1 -->

	