<% @title = "Basic Grid" %>


<pre>
	<code>
		@include poliedro-grid('.grid-a', 0, 12);
	</code>
</pre>

<div class="sample-grid">
	
	<!-- 1st Row -->
	<div class="grid-a-4">
		<p>4</p>
	</div>
	<div class="grid-a-8">
		<p>8</p>
	</div>

	<!-- 2nd row -->
	<div class="grid-a-3">
		<p>3</p>
	</div>
	<div class="grid-a-3">
		<p>3</p>
	</div>
	<div class="grid-a-3">
		<p>3</p>
	</div>
	<div class="grid-a-3">
		<p>3</p>
	</div>

	<!-- 3rd row -->
	<div class="grid-a-5">
		<p>6</p>
	</div>
	<div class="grid-a-2">
		<p>2</p>
	</div>
	<div class="grid-a-2">
		<p>2</p>
	</div>
	<div class="grid-a-2 grid-a-br">
		<p>2 (br)</p>
	</div>

	<!-- 4rd row -->
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>
	<div class="grid-a-1">
		<p>1</p>
	</div>

</div><!-- .grid-1 -->

	