<% @title = "Compass Poliedro" %>

<h2>Grid Examples</h2>

<p>CSS grid generator made with intelligent selectors in mind.</p>

<ul>
	<li><a href="/grid.html">Basic Grid</a></li>
	<li><a href="/grid-gutter.html">Grid With Gutter</a></li>
	<li><a href="/grid-responsive.html">Responsive Grid</a></li>
	<li><a href="/grid-nested.html">Nested Grid</a></li>
	<li><a href="/offset.html">Offset</a></li>
	<li><a href="/center.html">Center</a></li>
	<li><a href="/push-pull.html">Push-Pull</a></li>
</ul>