<% @title = "Basic Grid" %>


<pre>
	<code>@include poliedro-grid('.grid-a', 0, 12);</code>
</pre>

<section>

	<!-- 1st row -->
	<div class="grid-a-3 grid-a-offset-0">
		<p>Offset 1 <small>Columns: 1</small></p>
	</div>
	<div class="grid-a-4 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 1</small></p>
	</div>
	<div class="grid-a-3 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 1</small></p>
	</div>

	<!-- 2nd row -->
	<div class="grid-a-3 grid-a-offset-3">
		<p>Offset 2 <small>Columns: 3</small></p>
	</div>

	<div class="grid-a-3 grid-a-offset-0">
		<p>Offset 3 <small>Columns: 3</small></p>
	</div>

	
	<!-- 3rd row -->
	<div class="grid-a-5 grid-a-offset-0">
		<p>Offset 1 <small>Columns: 5</small></p>
	</div>
	<div class="grid-a-5 grid-a-offset-2">
		<p>Offset 1 <small>Columns: 5</small></p>
	</div>


	<!-- 4th row -->
	<div class="grid-a-1 grid-a-offset-0">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>
	<div class="grid-a-1 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>
	<div class="grid-a-1 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>	
	<div class="grid-a-1 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>	
	<div class="grid-a-1 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>	
	<div class="grid-a-1 grid-a-offset-1">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>

	<!-- 5th row -->
	<div class="grid-a-6 grid-a-offset-6">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>


	<div class="grid-a-6 grid-a-offset-0">
		<p>Offset 1 <small>Columns: 3</small></p>
	</div>
</section><!-- .grid-1 -->

	