<% @title = "Offset Property" %>


<pre>
	<code>
		$poliedrooprefix: 'o';
		@include poliedrogrid('.grid-a', 0, 12);
	</code>
</pre>

<div class="sample-grid">

	<!-- 1st row -->
	<div class="grid-a-3 grid-a-o0">
		<p>3 + 0</p>
	</div>
	<div class="grid-a-4 grid-a-o1">
		<p>4 + 1</p>
	</div>
	<div class="grid-a-3 grid-a-o1">
		<p>3 + 1</p>
	</div>

	<!-- 2nd row -->
	<div class="grid-a-3 grid-a-o3">
		<p>3 + 3</p>
	</div>

	<div class="grid-a-3 grid-a-o0">
		<p>3 + 0</p>
	</div>

	
	<!-- 3rd row -->
	<div class="grid-a-5 grid-a-o0">
		<p>5 + 0</p>
	</div>
	<div class="grid-a-5 grid-a-o2">
		<p>5 + 0</p>
	</div>


	<!-- 4th row -->
	<div class="grid-a-1 grid-a-o0">
		<p>1 + 0</p>
	</div>
	<div class="grid-a-1 grid-a-o1">
		<p>1 + 1</p>
	</div>
	<div class="grid-a-1 grid-a-o1">
		<p>1 + 1</p>
	</div>	
	<div class="grid-a-1 grid-a-o1">
		<p>1 + 1</p>
	</div>	
	<div class="grid-a-1 grid-a-o1">
		<p>1 + 1</p>
	</div>	
	<div class="grid-a-1 grid-a-o1">
		<p>1 + 1</p>
	</div>

	<!-- 5th row -->
	<div class="grid-a-6 grid-a-o6">
		<p>6 + 6</p>
	</div>


	<div class="grid-a-6 grid-a-o0">
		<p>6 + 0</p>
	</div>
</div><!-- .grid-1 -->

	