<% @title = "Push-Pull" %>


<pre>
	<code>
		@include poliedro-grid('.grid-b', 3, 12);
	</code>
</pre>

<section>
	
	<!-- 1st Row -->
	<div class="grid-b-6 grid-b-pull-omega">
		<p>A (6) &laquo;</p>
	</div>

	<div class="grid-b-6">
		<p>B (6) &raquo;</p>
	</div>

	<!-- 2nd Row -->
	<div class="grid-b-2 grid-b-pull-omega">
		<p>C (2) &raquo;</p>
	</div>

	<div class="grid-b-2 grid-b-pull">
		<p>D (2) &raquo;</p>
	</div>

	<div class="grid-b-8">
		<p>E (8) &laquo;</p>
	</div>


	<!-- 3rd Row -->
	<div class="grid-b-3">
		<p>F (3) &raquo;</p>
	</div>

	<div class="grid-b-6 grid-b-pull-omega">
		<p>G (6) &raquo;</p>
	</div>

	<div class="grid-b-3">
		<p>H (3) &laquo;</p>
	</div>

	<!-- 3rd Row -->
	<div class="grid-b-3 grid-b-pull-omega">
		<p>I (3) &raquo;</p>
	</div>

	<div class="grid-b-2">
		<p>J (2) &laquo;</p>
	</div>

	<div class="grid-b-3">
		<p>K (2) &laquo;</p>
	</div>

	<div class="grid-b-4">
		<p>L (4) &laquo;</p>
	</div>

</section><!-- .grid-1 -->

	