<% @title = "Push-Pull" %>


<pre>
	<code>
		@include poliedro-grid('.grid-b', 3, 12);
	</code>
</pre>

<section>
	
	<!-- 1st Row -->
	<div class="grid-b-4 grid-b-pull">
		<p>A (4)</p>
	</div>

	<div class="grid-b-8 grid-b-push">
		<p>B (8)</p>
	</div>

	<!-- 2nd Row -->
	<div class="grid-b-10 grid-b-pull">
		<p>C (10)</p>
	</div>

	<div class="grid-b-2 grid-b-push">
		<p>D (2)</p>
	</div>


</section><!-- .grid-1 -->

	