/**
 * Fluid Grid, allow to create nested columns with same sizes
 */


// Fluid columns variables
$fluid-gutter:3;
$grid-margin-bottom:16px;


/**
 * Column abstraction
 */
%grid-column{
	/*
	 * Use the new box model, in case we need to add padding and borders
	 */ 
	box-sizing: border-box;
	display: inline-block;
	float: left;

	margin-bottom: $grid-margin-bottom;
}


/**
 * Fluid Grid Mixin
 * Marke all items fit in a grid with given column number
 */
@mixin fluid-grid($cols) {
	
	// Calculate total widht
	$total-widht:100;
	
	width:$total-widht*(1%);

	// @extend .column;

	//Calculate width and set width
	$width: ($total-widht - (($cols) * $fluid-gutter))/$cols;
	width:$width*(1%);

	// Apply margin
	margin-right:$fluid_gutter*(1%);
	
	/**
	* Apply nth-children to get exact columns by rows
	* and expose a custom class to make it backwards compatible
	* using a polyfill or in server adding
	* nthchild class: eg
	* 
	* 	class="nth-child-3"
	* 	
	*/ 	
	.nth-child-#{$cols},
	&:nth-child(#{$cols}n+#{$cols}){
		margin-right:0;
	}
	
}


/**
 * Abstractions redy to be mapped
 */

%fluid-grid-3{
	@include fluid-grid(3);
	@extend %grid-column;
}


%fluid-grid-2{
	@include fluid-grid(2);
	@extend %grid-column;
}
