// Clases que se extenderán y se utilizan como helpers
.reset{margin:0; padding:0;}

.invisible{
	position:absolute;
	left:-99999em;
}

@mixin visible{
	position:relative;
	left:auto;
}

@mixin invisible{
	position:absolute;
	left:-99999em;
}
