/** poliedro/grid/varibles */

/**
 * Poliedro Offset prefix
 * Defines prefix for omega columns
 */
$poliedro-offset-prefix: 'offset-' !default;


/**
 * Poliedro Omega Suffix
 * Defines suffix for omega columns
 */
$poliedro-omega-suffix: 'omega' !default;

/**
 * Poliedro Break Suffix
 * Defines suffix for row nd or column break
 */
$poliedro-break-suffix: 'br' !default;

/**
 * Poliedro center Suffix
 * Defines suffix for centered columns
 */
$poliedro-center-suffix: 'center' !default;

/**
 * Poliedro center Suffix
 * Defines suffix for centered columns
 */
$poliedro-pull-suffix: 'pull' !default;