/**
 * Fonts.scss
 *
 * Declaracion de fuentes e importacion
 *
 * @TODO Declarar los tamaños en REM, con PX falback, sin usar ems
 *
 */

// Utilizamos font.face helper de compass
@import "compass/css3/font-face";

// Definicion de Fuentes
@mixin my-font-face($name, $file){

	@include font-face($name, 
	  font-files(
	    "#{$file}.woff", woff,
	    "#{$file}.ttf", ttf,
	    "#{$file}.svg", svg),
	    "#{$file}.eot");
}

/**
 * Fuentes que se utilizan:
 *  - Today Shop Ligth, para cuerpo
 *  - Today Shop Medium, para strong y bold en cuerpo
 *  - Today Shop Bold, para titulos y navegacion
 *  - Cafeta Para titulos
 *
 */ 
$font1: 'todayshop-light-webfont';
$font2: 'todayshop-medium-webfont';
$font3: 'todayshop-bold-webfont';
$font4: 'cafeta__-webfont';
$font5: 'neosansintelmedium';

// Incluimos las fuentes
@include my-font-face('Today Shop', $font1);
@include my-font-face('Today Shop SemiBold', $font2);
@include my-font-face('Today Shop Bold', $font3);
@include my-font-face('Cafeta', $font4);
@include my-font-face('Neo Sans', $font5);

%font-antialiasing{
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

/*
 * Abstracciones para facilitar su uso
 */ 
%main-font{
	font-family: 'Today Shop', sans-serif;
	@extend %font-antialiasing;
}

%main-font-bold{
	font-family: 'Today Shop SemiBold', sans-serif;
	@extend %font-antialiasing;
}

%main-font-black{
	font-family: 'Today Shop Bold', sans-serif;
	@extend %font-antialiasing;
}

%subheading-font{
	font-family: 'Cafeta', sans-serif;
	@extend %font-antialiasing;
}

%extra-font{
	font-family: 'Neo Sans', sans-serif;
	@extend %font-antialiasing;
}
