/**
 * Fonts.scss
 *
 * Declaracion de fuentes e importacion
 *
 * @TODO Declarar los tamaños en REM, con PX falback, sin usar ems
 *
 */

// Utilizamos font.face helper de compass
@import "compass/css3/font-face";

// Definicion de Fuentes
@mixin my-font-face($name, $file, $weight: normal){
	
	// El nombre de la fuente será por convencio, utilizando hyphen case
	// para evitar problemas con los urls y siguiendo el siguiente patrón:
	//  nombre/nombre-peso.ext
	$filename : "#{$file}/#{$file}-#{$weight}";

	/**
	 * Usamos mixin para agregar las fuentes
	 * font-face($name, $font-files, [$eot], [$weight], [$style])
	 */
	@include font-face(
		$name, 

		font-files(
			// El orden importa par que se vean bien las fuentes
			// Si `woff` esta primero Chrome mostrara una fuente con muchos
			// defectos, por lo que el orden debe de ser svg o ttf antes, habrá que 
			// hacer más pruebas para determinar cual va primero
		    "#{$filename}.svg", svg,
		    "#{$filename}.ttf", ttf,
		    "#{$filename}.woff", woff
		 ),

	    "#{$filename}.eot",

	    $weight
	);
}


/**
 * Fuentes que se utilizan:
 *  - Neo Sans
 *  - Neo Sans Bold
 *
 */ 

// Incluimos las fuentes
@include my-font-face('Neo Sans', 'neo-sans');
@include my-font-face('Neo Sans', 'neo-sans', bold);
@include my-font-face('Universe Condensed', 'universe-condensed', bold);


/*
 * Abstracciones para facilitar su uso
 */ 
%neo-sans-font{ font-family: 'Neo Sans', sans-serif; }
%universe-condensed-font{ 
	font-family: 'Universe Condensed', sans-serif; 
	font-weight:bold;

	// Antialiasing
	// text-shadow: 0 0 .25px rgba(255, 255, 255, 0.3);
}

// Borrowed from http://css-tricks.com/snippets/css/better-helvetica/
%helvetica-font{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}
