/**
 * @Mixin BackgroundRGBA
 * Generate cross browser rgba background, with IE propietary syntax, no png needed
 * Use this sparingly, acording to Lea Verou
 *
 * More info:
 * 		http://lea.verou.me/2009/02/bulletproof-cross-browser-rgba-backgrounds/
 * 		http://kilianvalkhof.com/2010/css-xhtml/how-to-use-rgba-in-ie/
 * 
 */
@mixin backgroundrgba($color, $alpha)
{
	// Solid Color Fallback
	background:$color;

	// Function to get iecolor http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html#ie_hex_str-instance_method
	$rgba : rgba($color, $alpha);
	$iecolor : ie-hex-str($rgba);

	// Standard RGBA
	background: $rgba;

	// IE < 9 FAllback, requires HTML5 Boilerplate Headers in HTML tag
	// Code improved from http://nickcowie.com/proge/rgba-ie.html
	.lt-ie9 &{
		@extend .transparent-background;
  		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorstr=#{$iecolor},endColorstr=#{$iecolor});
	}
}