/*
 * comentario
 */  

$conejorobot : sprite-map("conejorobot/*.png");

/*
 * Contenedor
 */  
@mixin animation($property, $value){
	$vendor : '-webkit-', '-moz-', '-ms-', '';

	@each $v in $vendor{
		#{$v}animation-#{$property}: #{$value};
	}
}

.conejorobot{
	@include invisible;

	@media all AND (min-width: $break-desktop){
		&.sticky{
			position:fixed;
			top:40%;
			right:0;
			left:auto;
		}
	}
}

._animacion_conejo {

	width:100%; height:100%;

	margin-top:0;

	background-image: sprite-url($conejorobot);
	@include get-sprite-position($conejorobot, "k9");
	
	@include animation('delay', 0);
	@include animation('duration', '1.5s');
	@include animation('iteration-count', 1);
	@include animation('timing-function', 'step-start');
	@include animation('name', 'conejorobot');

	@include hide-text;
}

.conejorobot {

	// Interpreta al conejo como un bloque
	width:180px !important;
	min-width:auto !important;
	height:200px;

	overflow:hidden;
	display:block;

	// Para que se muestre encima del overlay
	z-index : 10000;

	a{
		width:64px;
		padding-top:60px;

		background-image: sprite-url($conejorobot);
		@include get-sprite-position($conejorobot, "k");

		overflow:hidden;
		display:block;
		margin:78px auto 0;

		color:$negro0;

		@include smaller($decorative);
		text-transform:uppercase;
	}

	&.animated a{
		@extend ._animacion_conejo;
	}
}

.feedback-popup .fancybox-wrap {
	// A pesar de que fancy box lo incluyte, se lo quitamos con el important
	left:auto !important;
	right:200px;
}


/*
 * Mixin que permite mostrar la animacion
 * @param sprite map, el mapa del sprite que se va a modificar
 * @param int frames es el número de frames que contendrá la animacion
 * @param prefix Es el prefijo que tiene cada imagen, es necesario, para que pueda ser interpretado
 *                  por Compass
 */  
@mixin keyframes($spritemap, $frames, $prefix:'k') {

	// Agregamos un frame para qwue llegue siempre al 100%
	@for $i from 1 to $frames + 1 {

		$percent : (100 / ($frames - 1)) * ($i - 1) * 1%;

		#{$percent} {@include get-sprite-position($spritemap, "#{$prefix}#{$i}");}
	}
}


@-webkit-keyframes conejorobot {
	@include keyframes($conejorobot, 9);
}

@-moz-keyframes conejorobot {
	@include keyframes($conejorobot, 9);
}

@-ms-keyframes conejorobot {
	@include keyframes($conejorobot, 9);
}

@keyframes conejorobot {
	@include keyframes($conejorobot, 9);
}


/*
 * Formulario Feedback
 */  
.feedback{
	@include invisible;
}

.feedback-form .submit{
	@include fluid-column(6);

	input{
		float:right;
	}
}

.feedback-form .wpcf7-validation-errors {
	@include fluid-column(8);
	clear:none;
	color:$naranja4;

	padding:0;

	font-style:italic;
	@include small($sans-serif);
}

.feedback-email,
.feedback-name,
.field.captcha{
	@include fluid-column(6);
}

.feedback-comment{
	@include fluid-column(12);

	textarea{
		height:120px;
	}
}